.profile-section {

    
    .btn-container {
        display: flex;
        .btn-profile {
            background-color: transparent;
            border: none;
            flex-grow: 1;
            padding: 10px;
        }
        
    }

    .profile-ideas {
        margin: 40px 0 80px 0;
    }
}