.settings {

    padding-top: 20px;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        .setting-option {
            border-bottom: 1px solid #BEBEBE;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }
    }
}